body {
  background-image: url(jeremy-thomas-E0AHdsENmDg-unsplash.jpg);
  background-size: cover;
  font-family: 'Orbitron', sans-serif;
}
h1 {
  font-size: 38px;
  color: rgb(178, 114, 208);
  text-decoration: underline;
  text-shadow: 3px 3px 3px rgb(130, 216, 151);
  text-align: center;
}
.container {
  display: flex;
  justify-content: space-around;
  font-size: 24px;
}
#human {
  background-color: rgb(213, 46, 94);
  width: auto;
  border-color: black;
}
#humanflee {
  background-color: rgb(213, 46, 94);
  width: auto;
  border-color: black;
  text-align: center;
}
#alien {
  background-color: rgb(156, 243, 26);
  width: auto;
  border-color: black;
}
#narrative {
  font-size: 24px;
  color: rgb(178, 114, 208);
  text-shadow: 3px 3px 3px rgb(130, 216, 151);
  text-align: center;
}
#humanattack {
  font-size: 24px;
  color: rgb(213, 46, 94);
  text-shadow: 3px 3px 3px black;
  text-align: center;
}
#alienattack {
  font-size: 24px;
  color: rgb(156, 243, 26);
  text-shadow: 3px 3px 3px black;
  text-align: center;
}
.battle {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
}
button {
  margin: 5px;
  font-size: 24px;
  width: auto;
  font-family: 'Orbitron', sans-serif;
  color: rgb(88, 21, 121);
  text-shadow: 3px 3px 3px rgb(130, 216, 151);
  background-color: blueviolet;
}