body {
  background-image: url(jeremy-thomas-E0AHdsENmDg-unsplash.jpg);
  background-size: cover;
  font-family: 'Orbitron', sans-serif;
}
h1 {
  font-size: 38px;
  color: rgb(178, 114, 208);
  text-decoration: underline;
  text-shadow: 3px 3px 3px rgb(130, 216, 151);
  text-align: center;
}
.container {
  display: flex;
  justify-content: space-around;
  font-size: 24px;
}
#human {
  background-color: red;
  width: auto;
  border-color: black;
}
#alien {
  background-color: greenyellow;
  width: auto;
  border-color: black;
}
#narrative {
  font-size: 24px;
  color: rgb(178, 114, 208);
  text-shadow: 3px 3px 3px rgb(130, 216, 151);
  text-align: center;
}
#humanattack {
  font-size: 24px;
  color: rgb(178, 114, 208);
  text-shadow: 3px 3px 3px rgb(130, 216, 151);
  text-align: center;
}
#alienattack {
  font-size: 24px;
  color: rgb(178, 114, 208);
  text-shadow: 3px 3px 3px rgb(130, 216, 151);
  text-align: center;
}
button {
  margin: 100px;
  font-size: 24px;
  font-family: 'Orbitron', sans-serif;
  color: rgb(88, 21, 121);
  text-shadow: 3px 3px 3px rgb(130, 216, 151);
  background-color: blueviolet;
  text-align: center;
}